<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tentang Kami</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="about-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Selamat Datang di WeatherNow!</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <p>WeatherNow adalah aplikasi inovatif yang dirancang khusus untuk memberikan Anda pembaruan cuaca real-time yang akurat dan prakiraan yang handal. Kami bertekad untuk membantu Anda tetap siap menghadapi segala kondisi cuaca, baik itu hujan deras atau sinar matahari yang menyengat.</p>
        <p>Dengan fitur-fitur canggih dan antarmuka yang intuitif, WeatherNow hadir untuk menjadi teman setia Anda dalam merencanakan aktivitas sehari-hari, perjalanan, atau petualangan apa pun. Dengan kehandalan dan ketepatan informasi cuaca kami, Anda bisa merasa lebih percaya diri dan terorganisir setiap saat.</p>
        <p>Bergabunglah dengan jutaan pengguna yang telah mempercayakan WeatherNow untuk kebutuhan cuaca mereka. Mari kita bersama-sama menjelajahi dunia dengan penuh semangat, tanpa khawatir akan kondisi cuaca yang tak terduga!</p>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Hubungi Kami</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <p>Email: support&#64;weathernow.com</p>
        <p>Telepon: 123-456-789</p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
